name = "CombinatorialSpaces"
uuid = "b1c52339-7909-45ad-8b6a-6e388f7c67f2"
license = "MIT"
authors = ["Luke Morris <luke.morris@ufl.edu>", "George Rauta <grauta@ufl.edu>", "Evan Patterson <evan@epatters.org>", "James Fairbanks <fairbanksj@ufl.edu>"]
version = "0.7.7"

[deps]
ACSets = "227ef7b5-1206-438b-ac65-934d6da304b8"
Artifacts = "56f22d72-fd6d-98f1-02f0-08ddc0907c33"
Catlab = "134e5e36-593f-5add-ad60-77f754baafbe"
FileIO = "5789e2e9-d7fb-5bc7-8068-2c6fae9b9549"
GATlab = "f0ffcf3b-d13a-433e-917c-cc44ccf5ead2"
GeometryBasics = "5c1252a2-5f33-56bf-86c9-59e7332b4326"
JSON = "682c06a0-de6a-54ab-a142-c8b1cf79cde6"
KernelAbstractions = "63c18a36-062a-441e-b654-da1e3ab1ce7c"
Krylov = "ba0b0d4f-ebba-5204-a429-3ac8c609bfb7"
LazyArrays = "5078a376-72f3-5289-bfd5-ec5146d43c02"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MeshIO = "7269a6da-0436-5bbc-96c2-40638cbb6118"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"

[weakdeps]
CUDA = "052768ef-5323-5732-b1bb-66c8b64840ba"
Makie = "ee78f7c6-11fb-53f2-987a-cfe4a2b5a57a"

[extensions]
CombinatorialSpacesCUDAExt = "CUDA"
CombinatorialSpacesMakieExt = "Makie"

[compat]
ACSets = "0.2"
Artifacts = "1.9, 1"
CUDA = "5.2"
Catlab = "0.17"
FileIO = "^1"
GATlab = "0.2"
GeometryBasics = "0.5"
JSON = "0.21.4"
KernelAbstractions = "0.9"
Krylov = "0.9.6, 0.10"
LazyArrays = "0.20, 0.21, 0.22, 1.0, 2"
LinearAlgebra = "1.9"
Makie = "0.21, 0.22"
MeshIO = "0.4, 0.5"
Reexport = "0.2, 1.0"
SparseArrays = "1.9"
StaticArrays = "0.12, 1.0"
Statistics = "1"
StatsBase = "0.34"
TetGen = "2"
julia = "1.10"

[extras]
CUDA = "052768ef-5323-5732-b1bb-66c8b64840ba"
CairoMakie = "13f3f980-e62b-5c42-98c6-ff1f3baf88f0"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
TetGen = "c5d3f3f7-f850-59f6-8a2e-ffc6dc1317ea"

[targets]
test = ["CairoMakie", "CUDA", "Pkg", "Random", "Test", "Statistics", "TetGen"]
